/* Bootstrap */
@font-face {
    font-family: LEMONMILK;
    src: url(LEMONMILK-Regular.otf);
} * {
    font-family: LEMONMILK;
}

.header {
    background-color: rgb(198, 198, 198);
    color: white;
    text-align: center;
    height: auto;
    padding: 15px;
}

.title {
    font-size: 24px;
    font-weight: bolder;
}

.card-header {
    justify-content: space-between;
}

.card-header h6 {
    display: inline;
    padding-right: 100px;
}

.alert {
    margin-left: 25px;
}

.history-item {
    border-style: solid;
    border-width: thin;
    margin-bottom: 3px;
    border-radius: 10px;
    border-color: rgb(188, 190, 193);
    background-color: rgb(237, 234, 234);
}

.history-item h4 {
    padding-left: 10px;
}

.form-input {
    border-color: rgb(188, 190, 193);
    border-style: solid;
    border-width: thin;

}
.form-input:focus {
    outline: none
}

.card-header {
    background-color: rgb(168, 210, 233);
}

.forecast-card {
    background-color:  rgb(168, 210, 233);
}

#forecast-container {
    display: none;
}

#current-stats {
    display: none;
}